<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.app.dao.CategoryMapper">
  
  <select id="getCategoryById" parameterType="int" resultType="Category">
      select * from app_category where id = #{id}
  
  </select>
  
  
  <select id="getCategoryList" resultType="Category">
  
  select * from app_category
  
  </select>
  
  <select id="getSortOne"  resultType="Category">
   select * from app_category where id = 1 or id 2
  </select>
</mapper>