<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.app.dao.InformationMapper">

	<resultMap type="Information" id="infolist">
	    <result property="id" column="id"/>
	    <association property="version" javaType="Version">
	    	 <id property="id" column="v_id"/>
	      <result  property="versionno" column="vn"/>
	    </association>
	  </resultMap>


  <select id="getInfoByStatusId" resultMap="infolist">
  
 SELECT i.*,v.id v_id,v.versionNo vn  FROM app_info  i left join app_version  v  on  i.versionId = v.id
  AND  i.status = #{statusId} limit #{pageCount},#{pageSize} 
    
  </select>
  
  <select id="getInfoById" parameterType="int" resultType="Information">
  select * from app_info where id = #{id}
  
  </select>
  
  
  <select id="getInfoCount" resultType="int">
  select count(1) from app_info
  </select>
  
  <update id="updateStatus" >
   UPDATE  app_info SET STATUS = #{value} WHERE id =#{id}
  
  </update>
  
  <select id="getInfoList" resultType="Information">
  select * from app_info
  </select>
  
  <select id="queryInfo" resultType="Information">
  
  SELECT * FROM app_info WHERE softwareName LIKE  CONCAT('%',#{softName},'%') AND categoryLevel3 = #{sort3} 
  </select>
  
  
</mapper>